.root {
    padding: 40px 12px;
    background-color: #FFF8EF;
}

.leftContainer {
    display: none;
}

.rightContainer {}

.textContainer {
    text-align: center;
}

.h2,
.span,
.text {
    display: block;
}

.span {
    font-size: 85px;
    color: #FAC213;
    font-weight: 700;
}

.text {
    margin-top: 15px;
}

@media screen and (min-width:768px) {
    .container {
        flex-direction: column;
    }

    .leftContainer {
        display: block;
    }
}

@media screen and (min-width:1200px) {
    .container {
        flex-direction: row;
    }

    .h2 {
        font-size: 60px;
    }

    .span {
        font-size: 120px;
    }
}