.root {
    padding: 40px 12px;
    background-color: #FFF8EF;
}

.leftContainer {
    display: none;
}

.textContainer {
    text-align: center;
}

.h2,
.span,
.text {
    display: block;
}

.span {
    font-size: 85px;
    color: #FAC213;
    font-weight: 700;
}

.text {
    margin-top: 15px;
}