.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    padding: 15px;
    border-radius: 10px;
}

.headerContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.header,
.price {
    font-size: 21px;
    color: black;
    text-transform: none;
    padding: 0;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pizzaImg {
    width: 100px;
}

.spansTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pricesContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.header span {
    font-size: 21px;
}

.spanTitle {
    text-align: start;
    display: block;
    font-size: 14px !important;
    font-weight: 500;
    color: #FAC213;
    line-height: 100%;
    margin-bottom: 10px;
}

@media screen and (min-width:768px) {
    .root {
        width: 48%;
    }
}

@media screen and (min-width:1200px) {}