.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.headerContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.header,
.price {
    font-size: 21px;
    color: black;
    text-transform: none;
    padding: 0;
}

.pricesContainer {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header span {
    font-size: 21px;
}

.spanTitle {
    text-align: start;
    display: block;
    font-size: 14px !important;
    font-weight: 500;
    color: #FAC213;
    line-height: 100%;
    margin-bottom: 10px;
}

@media screen and (min-width:768px) {
    .root {
        width: 48%;
    }
}

@media screen and (min-width:1200px) {}