.root {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header,
.price {
    font-size: 21px;
    color: black;
    text-transform: none;
}

@media screen and (min-width:768px) {
    .root {
        width: 48%;
    }
}

@media screen and (min-width:1200px) {}