.root {}

.spinner {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    margin-top: 8px;
    margin-bottom: 8px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}