.root {
    position: relative;
}


.navContainer {
    padding: 0 12px;
}


.navLinks {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 62px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 10px 20px;
}

.open {
    composes: navLinks;
    display: flex;
}

.navLink {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
}

.navLink a {
    color: black;
    font-weight: 500;
    display: inline-block;
    padding: 20px 0px;
    width: 100%;
}

.navContainer {
    justify-content: space-between;
}

.logo {
    width: 135px;
}

.toggle svg {
    color: black;
}

.container {
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.infoContainer {
    order: 2;
}

.nameContainer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}


.name {
    display: block;
    text-transform: unset;
}

.h4 {
    display: block;
    color: black;
    font-size: 16px;
    margin: 20px 0px;
    text-transform: unset;
    color: #FAC213;
}

.buttonsContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.button {
    padding: 0;
    background-color: #fff;
    color: black;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.active {
    composes: button;
    background-color: #FAC213;
}

.button:hover {
    background-color: #FAC213;
}

.sizeContainer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.ingredientContainer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.sizeSpan {
    display: block;
    font-size: 11px;
    margin-bottom: 5px;
}

.priceSpan {
    font-size: 22px;
    display: block;
}


.containerCart {
    max-width: 350px;
}

@media screen and (min-width:768px) {
    .background {
        height: 80vh;
    }

    .logo {
        width: 155px;
    }

    .footerContainer {
        flex-direction: row;
        align-items: flex-start !important;
    }

    .socialsContainer {
        margin: 0px !important;
    }

    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 80%;
    }

    .button {
        height: 120px;
        width: 120px;
    }

    .h4 {
        font-size: 20px;
    }

    .sizeSpan {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .priceSpan {
        font-size: 25px;
    }

    .containerCart {
        min-width: 350px;
        max-width: none;
    }

    .container {
        min-width: 380px;
    }

}

@media screen and (min-width:1200px) {
    .toggle {
        display: none;
    }

    .navLinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 65%;
        height: auto;
        padding: 0px
    }

    .navLinkDropDown a {
        color: black;
        width: 100%;
        display: block;
    }

    .navLink {
        border-bottom: none;
        text-align: center;
    }

    .navLink a {
        color: black;
        padding: 25px 0px;
    }

    .container {
        gap: 50px;
    }

}