.root {
    position: relative;
}

.navContainer {
    padding: 0 12px;
}


.navLinks {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 62px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 10px 20px;
}

.open {
    composes: navLinks;
    display: flex;
}

.navLink {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
}

.navLink a {
    color: black;
    font-weight: 500;
    display: inline-block;
    padding: 20px 0px;
    width: 100%;
}

.navContainer {
    justify-content: space-between;
}

.logo {
    width: 135px;
}

.toggle svg {
    color: black;
}




@media screen and (min-width:768px) {
    .background {
        height: 80vh;
    }

    .logo {
        width: 155px;
    }

    .footerContainer {
        flex-direction: row;
        align-items: flex-start !important;
    }

    .socialsContainer {
        margin: 0px !important;
    }
}

@media screen and (min-width:1200px) {
    .toggle {
        display: none;
    }

    .navLinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 65%;
        height: auto;
        padding: 0px
    }

    .navLinkDropDown a {
        color: black;
        width: 100%;
        display: block;
    }

    .navLink {
        border-bottom: none;
        text-align: center;
    }

    .navLink a {
        color: black;
        padding: 25px 0px;
    }

    .container {
        gap: 50px;
    }


    .leftContainer {
        width: 45%;
        position: relative;
    }

    .pizzaHero {
        display: block;
        width: 100%;
    }

}