.root {
    cursor: pointer;
}

.contained {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px 20px;
    background-color: #FAC213;
    color: #fff;
}

.text {
    border: none;
    padding: 10px 20px;
    background-color: transparent;
    color: #111;
}

.menu {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
}

.toggle {
    color: #fff;
    background: none;
    border: none;
}