.root {
    padding-top: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.wrapper {
    padding: 20px 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



@media screen and (min-width:768px) {
    .wrapper {
        display: flex;
        gap: 15px;
        width: 100%;
        justify-content: center;
        padding: 20px 12px;
    }

    .wrapper {
        flex-direction: row;
    }
}

@media screen and (min-width:1024px) {
    .wrapper {
        flex-direction: row;
    }
}