.root {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
}

.wrapper {
    padding: 20px 12px;
}


@media screen and (min-width:768px) {
    .wrapper {
        display: flex;
        gap: 30px;
    }
}