.root {
    width: 100%;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .1);
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width:1024px) {

    .contactDetailUpContainer,
    .contactDetailDownContainer {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    .inputsContainer {
        width: 49%;
    }
}