.root {}

.h1 {
    font-size: 57px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
}

.h2 {
    font-size: 38px;
    color: #111;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.h3 {
    font-size: 32px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.h4 {
    font-size: 22px;
    color: #FAC213;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.text {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 150%;
}

.button {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}