.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 0px 12px;
    z-index: 999;
}

@media screen and (min-width:1200px) {
    .root {
        padding: 0px 0px;
    }
}