.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

@media screen and (min-width:1200px) {
    .root {
        padding: 0px 0px;
    }
}