.root {
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upperContainer {
    display: flex;
}

.img {
    width: 40px;
}

.imgContainer {
    display: none;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 195px);
}

.quantityContainer {
    width: 85px;
}

.priceContainer {
    width: 55px;
}

.sizeContainer {
    width: 55px;
}


.h4 {
    display: block;
    font-size: 16px;
    color: black;
}

.text {
    display: block;
    font-size: 15px;
    max-width: 120px;
}

.buttonContainer {
    display: flex;
    gap: 15px;
}

@media screen and (min-width:768px) {

    .descriptionContainer {
        width: calc(100% - 240px);
    }

    .quantityContainer {
        width: 80px;
    }

    .priceContainer {
        width: 80px;
    }

    .sizeContainer {
        width: 80px;
    }
}

@media screen and (min-width:1024px) {
    .imgContainer {
        display: block;
    }

    .descriptionContainer {
        width: calc(100% - 300px);
    }

    .quantityContainer {
        width: 100px;
    }

    .priceContainer {
        width: 100px;
    }

    .sizeContainer {
        width: 100px;
    }
}