.root {
    width: 100%;
}

.container {
    display: flex;
    align-items: flex-start;
    text-align: center;
}

.img {
    width: 50px;
}

.descriptionContainer,
.quantityContainer,
.priceContainer,
.sizeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionContainer {
    width: calc(100% - 300px);
}

.quantityContainer {
    width: 100px;
}

.priceContainer {
    width: 100px;
}

.sizeContainer {
    width: 100px;
}

.h4 {
    display: block;
    font-size: 16px;
    color: black;
}

.text {
    font-size: 15px;
}

.buttonContainer {
    display: flex;
    gap: 15px;
}