.root {
    position: relative;
}

.navContainer {
    padding: 0 12px;
}

.navLinks {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 62px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 50vh;
    padding: 10px 20px;
}

.open {
    composes: navLinks;
    display: flex;
}

.navLink {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
}

.navLink a {
    color: black;
    font-weight: 500;
    display: inline-block;
    padding: 20px 0px;
    width: 100%;
}

.navContainer {
    justify-content: space-between;
}

.toggle button span {
    color: black !important;
}

.logo {
    width: 135px;
}


.background {
    position: relative;
    background-color: #FFF8EF;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}

.imgBackGroundHero {
    position: absolute;
    top: -50%;
    left: 0;
    filter: opacity(5%);
    transform: rotate(45deg);
    width: 200px;
}

.imgBackGroundHeroSecond {
    position: absolute;
    top: 50%;
    right: 10%;
    filter: opacity(5%);
    transform: rotate(45deg);
    width: 200px;
}

.container {
    justify-content: center;
    height: 100%;
}

.imgHero {
    width: 170px;
    filter: opacity(65%);
    margin-right: 10px;
    transform: rotate(25deg);
}

.socialsContainer,
.contactContainer,
.openingHoursContainer {
    flex-direction: column;
    margin-bottom: 15px;
}

.h4 {
    color: #fff !important;
    margin-bottom: 10px;
}

.text {
    color: #fff !important;
    margin-bottom: 10px;
}

.footerContainer {
    flex-direction: column;
}

.linkSocials {
    color: #fff !important;
    margin-right: 20px;
}

@media screen and (min-width:768px) {

    .logo {
        width: 155px;
    }

    .imgBackGroundHero {
        top: 0%;
    }

    .footerContainer {
        flex-direction: row;
        align-items: flex-start !important;
    }

    .socialsContainer {
        margin: 0px !important;
    }
}

@media screen and (min-width:1200px) {
    .background {
        height: 40vh;
    }

    .toggle {
        display: none;
    }

    .navLinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 50%;
        height: auto;
        padding: 0px
    }

    .navLink {
        border-bottom: none;
        text-align: center;
    }

    .navLink a {
        color: #111;
        padding: 25px 0px;
        font-weight: 600;
    }

    .header {
        font-size: 48px;
    }

}